$color-pink: #FF3998;

.hero {
    &-small{
        border-top:  1px solid rgba(202, 201, 201, 0.467);
        border-bottom:  1px solid  rgba(202, 201, 201, 0.467);
    }
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    width: 100%;
    height: 80vh;
    @media (max-width: 540px) {
      height: 60vh;
         
     }
    &-left {
        // height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
        z-index: 1;
        @media (max-width: 740px) {
            width: 70%;
             
         }
        &-launch {
            color: $color-pink;
            font-size: 1.2rem
        }

        &-text {
            font-size: 5rem;
            z-index: 5;
            @media (max-width: 540px) {
                font-size: 3rem;
                 
             }
            &-small{
                font-size: 4rem;
                @media (max-width: 540px) {
                   font-size: 2rem;
                     
                 }
            }
        }

        &-description {
            font-size: 1.5rem;
        }

        &-btn {
            cursor: pointer;
            width: 120px;
            background:
                linear-gradient(black, black) padding-box,
                linear-gradient(to right, #FF3939, #FF8139) border-box;
            border-radius: 50em;
            border: 3px solid transparent;
            padding: 10px;
            text-align: center;
        }
    }

    &-right {
        width: 60%;
        @media (max-width: 540px) {
            width: 25%;
             
         }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        img {
            width: 40%;
            z-index: 99;
            position: absolute;
            @media (max-width: 740px) {
                width: 45%;
                 
             }
             @media (max-width: 640px) {
                width: 55%;
                 
             }
             @media (max-width: 540px) {
                width: 85%;
                 
             }
             @media (max-width: 440px) {
                width: 140px;
                 
             }
             
        
           
        }
        &-small{
            position: relative;
            img{
              position: absolute;
                width: 30%;
                bottom: 0%;
                @media (max-width: 740px) {
                    width: 45%;
                     
                 }
                 @media (max-width: 640px) {
                    width: 55%;
                     
                 }
                 @media (max-width: 540px) {
                    width: 75%;
                     
                 }
                 @media (max-width: 540px) {
                  width: 170px;
                     
                 }
            }
        }

        &-ecp{
     
            &-1{
                position: absolute;
                bottom: 20%;
                right: 25%;
                width: 250px;
                height: 250px;
                border-radius: 50%;
                background: #FF3998;
                filter: blur(80px);
                @media (max-width: 540px) {
                    bottom: 40%;
                    right: -102%;
                    width: 150px;
                    height: 150px;
                     
                 }
            }
            &-2{
                position: absolute;
                bottom: 20%;
                right: 40%;
                width: 250px;
                height: 250px;
                border-radius: 50%;
                background: #FF3939;
                filter: blur(80px);
                @media (max-width: 540px) {
                    bottom: 40%;
                    right: -42%;
                    width: 150px;
                    height: 150px;
                     
                 }
            }
        }
    }
}