$color-pink: #FF3998;
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-icon{
        display: flex;
        align-items: center;
        &-text{
            margin-left: 10px;
            font-size: 1.2rem;
            font-weight: 600;
        }
        img{
            width: 35px;
        }
    }
    &-links{
      
        display: flex;
        width: 25%;
        @media (max-width: 1130px) {
            width: 35%;
        }
        justify-content: space-between;
        list-style: none;
        align-items: center;
        &-item{
            cursor: pointer;
            transition: all 0.2s ease;
            &:hover{
                color: $color-pink;
            }
            
        }
        @media (max-width: 740px) {
            display: none;
            opacity: 0;
        }
    }
    &-mobile{
      
        cursor: pointer;
        display: none;
        opacity: 0;
        @media (max-width: 740px) {
            display: flex;
            opacity: 1;
        }
        flex-direction: column;
        height: 30px;
        justify-content: space-between;
        span{
            background-color: white;
            width: 40px;
            height: 4px;
            // border-top: 2px solid white;
        }
    }
}