.showcase{
    margin: 5% 0%;
    
    &-text{
        position: sticky;
        display: flex;
        flex-direction: column;
        &-1{
            font-size: 2.5rem;
            color: white;
            margin-bottom: 20px;
         }
         &-2{
             margin-bottom: 50px;
             color: #999999;
             span{
                 cursor: pointer;
                 text-decoration: underline;
             }
         }
    }
    &-scroll{
        overflow-y: scroll;
    }
    &-card{
        
        display: flex;
        justify-content: space-between;
        min-width: 1200px;
        max-width: 100%;
       
    }
}